Package: iot-gate-rpi5-config
Version: 1.0.1
Section: utils
Priority: optional
Architecture: all
Maintainer: Ilya Ledvich <ilya@compulab.co.il>
Depends: bash, coreutils, systemd, udev, tree, iot-gate-rpi5-firmware (>= 1.0.1)
Description: IOT-GATE-RPI5 Configuration suite
 Configuration and management suite providing support for IOT-GATE-RPI5 peripherals and Industrial I/O interfaces.
